<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #673ab7">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #673ab7">
  <div style="padding: 26px 87px 0">
    <img src="assets/image2.png" alt="" />
  </div>
  <div class="form">
    <h1 class="">Verifty OTP</h1>
    <h6
      class="mb-20"
      style="margin-top: 5px; font-weight: 400; font-size: 13px"
    >
      Please enter the otp send on your NITKKR email id
    </h6>
    <!-- <ng-otp-input style="text-align: center"></ng-otp-input> -->
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>OTP</mat-label>
      <input [(ngModel)]="otp" style="text-transform: capitalize" matInput />
    </mat-form-field>
    <button (click)="verifyemail()" mat-flat-button color="primary">
      Verify
    </button>
  </div>

  <h4 style="text-align: center; color: white; font-size: 13px">
    Didn't recived OTP? Send again
  </h4>
</ion-content>
