<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <img src="assets/newicon/Home.png" alt="" />
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="feeds">
      <!-- <ion-icon name="calculator"></ion-icon> -->
      <!-- <img src="assets/icon/heart (1).png" alt="" />
      <ion-label>Feeds</ion-label> -->
      <img src="assets/newicon/Heart.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="answer">
      <!-- <ion-icon name="clipboard"></ion-icon> -->
      <!-- <img src="assets/icon/comment (1).png" alt="" />

      <ion-label>QnA</ion-label> -->
      <img src="assets/newicon/Category.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="market">
      <!-- <ion-icon name="clipboard"></ion-icon> -->
      <!-- <img src="assets/icon/comment (1).png" alt="" />

      <ion-label>Market</ion-label> -->
      <img src="assets/newicon/Bag.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <!-- <ion-icon name="person"></ion-icon> -->
      <!-- <img src="assets/icon/user (1).png" alt="" />
      <ion-label>Profile</ion-label> -->
      <img src="assets/newicon/Profile.png" alt="" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
