<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #673ab7; color: white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #673ab7">
  <img
    style="
      max-width: 77%;
      border: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    "
    src="assets/reset.png"
    alt=""
  />

  <div class="form">
    <div class="padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Old Password</mat-label>
              <input [(ngModel)]="email" matInput type="password" />
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>New Password</mat-label>
        <input [(ngModel)]="password" matInput type="password" />
      </mat-form-field>
      <button (click)="login()" mat-flat-button color="primary">Change</button>
    </div>
  </div>
</ion-content>
