<!-- <ion-header class="ion-no-border">
  <ion-toolbar style="--background: #673ab7; color: white">
    <ion-title>Feeds</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background: #f7f7f7">
  <!-- <div style="background: #673ab7">
    <div>
      <h6 style="margin: 0; color: white">
        <ion-icon name="pin-outline"></ion-icon> NIT,Kurukshtra
      </h6>
    </div>
    <div>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div> -->

  <div
    style="
      height: 242px;
      background: linear-gradient(180deg, #673ab7, transparent);
      position: absolute;
    "
  >
    <h1
      style="
        font-size: 24px;
        color: white;
        margin-top: 23px;
        margin-bottom: 23px;

        text-align: center;
        font-weight: 300;
      "
    >
      Get Notified With Each <br />

      <span style="font-weight: 700">Notification</span> <br />
      Happaning @ NIT KKR
    </h1>

    <ion-grid style="background: white; margin: 0 15px; border-radius: 8px">
      <ion-row>
        <ion-col size="1.5">
          <img
            style="border-radius: 39px"
            src="https://cdn-icons-png.flaticon.com/512/2922/2922506.png"
          />
        </ion-col>
        <ion-col style="padding-right: 16px" size="10">
          <input
            id="post"
            type="text"
            placeholder="Write Something.."
            (click)="openModal()"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="posts" *ngFor="let item of post">
      <ion-grid style="padding: 0">
        <ion-row>
          <ion-col size="3" style="padding: 0">
            <div style="height: 100%">
              <img
                style="
                  height: 100%;
                  object-fit: cover;
                  border-radius: 12px 0 12px 0;
                "
                src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?w=2000"
              />
            </div>
          </ion-col>
          <ion-col
            size="8"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 17px;
            "
          >
            <h4 style="font-weight: 700; margin-bottom: 6px">
              {{item.name | titlecase}}
            </h4>
            <h5 style="font-weight: 100; font-size: 13px">
              {{item.programme}} | {{item.branch}}
            </h5>
          </ion-col>
          <ion-col
            size="1"
            style="display: flex; align-items: center"
            *ngIf="item.uid == this.id"
          >
            <ion-icon
              name="ellipsis-vertical"
              [matMenuTriggerFor]="menu"
            ></ion-icon>
          </ion-col>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Delete Post</button>
          </mat-menu>
          <!-- <ion-col>
            <p style="padding: 0 15px; font-weight: 600; font-size: 19px">
              Hey Gus Welcome !
            </p>
          </ion-col> -->
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h1
              style="
                padding: 9px 10px 0;
                font-weight: 600;
                font-size: 11px;
                color: #a5a5a5;
              "
            >
              {{item.date | date:'short'}}
            </h1>
            <h1
              style="padding: 9px 10px; font-weight: 600; font-size: 15px"
              *ngIf="item.content.length>200"
            >
              {{item.content | slice:0:200}}..
              <span
                style="text-decoration: underline"
                [routerLink]="['/singlepost', item.id]"
                routerLinkActive="router-link-active"
                >View More</span
              >
            </h1>
            <h1
              style="padding: 9px 10px; font-weight: 600; font-size: 15px"
              *ngIf="item.content.length<=200"
            >
              {{item.content }}
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <p
              style="font-size: 12px; margin-left: 8px"
              *ngIf="item.comments!=0"
              [routerLink]="['/singlepost', item.id]"
              routerLinkActive="router-link-active"
            >
              View All {{item.comments}} Comment
            </p></ion-col
          >
          <ion-col size="1" style="display: flex; justify-content: flex-end">
            <ion-icon
              name="chatbubble-outline"
              style="height: 100%; width: 100%"
              [routerLink]="['/singlepost', item.id]"
              routerLinkActive="router-link-active"
            ></ion-icon>
            <!-- <ion-chip color="danger">{{item.comments}} Comments</ion-chip> -->
          </ion-col>
          <ion-col size="4" style="display: flex; justify-content: flex-end">
            <button
              mat-flat-button
              color="warn"
              style="background: #8f0c0c; width: 100%"
              (click)="like(item.id,item.likes)"
              [disabled]="disable"
              *ngIf="item.islike == null"
            >
              <ion-spinner
                name="crescent"
                style="width: 18px"
                *ngIf="disable"
              ></ion-spinner>

              <span *ngIf="!disable">
                Like <ion-icon name="heart"></ion-icon>
              </span>
            </button>
            <button
              mat-stroked-button
              color="basic"
              style="width: 100%"
              *ngIf="item.islike!=null"
              (click)="dislike(item.id,item.likes)"
            >
              <span *ngIf="item.likes==1"> {{item.likes}} Like </span>
              <span *ngIf="item.likes>1"> {{item.likes}} Likes </span>
            </button>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="12">
           
          </ion-col>
        </ion-row> -->
      </ion-grid>
      <!-- <mat-divider></mat-divider>
      <ion-grid style="padding: 0">
        <ion-row>
          <ion-col
            size="8"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 17px;

              height: 54px;
            "
          >
            <h4 style="font-size: 14px; font-weight: 100; margin-bottom: 2px">
              Add Comment..
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>
  </div>
</ion-content>
