<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      style="font-size: 32px; text-align: end; margin-right: 10px"
      name="close-sharp"
      (click)="cancel()"
      slot="end"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 18px">
    <h4 style="margin-bottom: 14px">
      Hey {{username | titlecase}}, <br />
      What are you thinging right now?
    </h4>
    <mat-form-field appearance="outline">
      <mat-label>Write something</mat-label>

      <textarea
        rows="10"
        cols="40"
        (keyup)="checkPin($event)"
        [(ngModel)]="content"
        matInput
      ></textarea>
      <ion-progress-bar
        style="margin-top: 24px"
        [color]="color"
        [value]="progress"
      ></ion-progress-bar>
      <h1 style="font-size: 16px; margin-top: 11px; text-align: end">
        {{length}}/750
      </h1>
    </mat-form-field>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div style="padding: 18px">
      <button
        (click)="addpost()"
        style="width: 100%; padding: 9px"
        mat-raised-button
        color="primary"
        [disabled]="!content || color=='danger'"
      >
        Post
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
